@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full p-4 lg:px-8 focus:ring-0
           border-2
           focus:border-intro-component-with-signup-form-dark-blue
           focus:text-intro-component-with-signup-form-dark-blue
           border-intro-component-with-signup-form-grayish-blue
           border-opacity-50 text-sm font-semibold focus:text-sm
           focus:border-opacity-80
           focus:font-semibold rounded;
  }
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid hsla(249, 10%, 26%, 50%);
  -webkit-text-fill-color: rgb(62, 60, 73);
  -webkit-box-shadow: 0 0 0px 1000px #eff6ff inset;
}

/* mobile */
@media (max-width: 640px) {
  .bg {
    background-image: url("images/bg-intro-mobile.png");
  }
}

/* mobile */
@media (min-width: 640px) {
  .bg {
    background-image: url("images/bg-intro-desktop.png");
  }
}

.error-icon {
  content: url("./images/icon-error.svg");
}
