@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobile */
@media (max-width: 640px) {
  .pattern-divider {
    content: url("images/pattern-divider-mobile.svg");
  }
}

/* desktop */
@media (min-width: 640px) {
  .pattern-divider {
    content: url("images/pattern-divider-desktop.svg");
  }
}

.dice {
  content: url("images/icon-dice.svg");
}
