@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-image {
  content: url("./images/logo.svg");
}

.hero-image-mobile {
  content: url("./images/hero-mobile.jpg");
}

.hero-image-desktop {
  content: url("./images/hero-desktop.jpg");
}

.arrow-icon {
  content: url("./images/icon-arrow.svg");
}

.error-icon {
  content: url("./images/icon-error.svg");
}

.button-bg {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.button-bg:hover {
  background: hsl(0, 100%, 92%);
}

.bg-desktop {
  background-image: url("./images/bg-pattern-desktop.svg"), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-repeat: no-repeat;
  background-size: cover;
}
