@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full py-2 px-10 focus:ring-0
           placeholder-ping-coming-soon-page-pale-blue
           border-2
           border-ping-coming-soon-page-pale-blue
           focus:border-ping-coming-soon-page-blue
           focus:text-ping-coming-soon-page-very-dark-blue
           focus:border-opacity-80
           rounded-full;
  }
}

.logo {
  content: url("./images/logo.svg");
}

.illustration-dashboard {
  content: url("./images/illustration-dashboard.png");
}
